<header class="header bg-dark text-white p-3 d-flex justify-content-between align-items-center">
  <div class="flex-grow-1 text-center">
    <h4 class="m-0"><%= token.email=="admin@stock.com"? "Admin Dashboard": "User Dashboard"%></h4>

  </div>
  <div class="profile-logout d-flex align-items-center gap-3">
      <span>
        <i class="bi bi-person-circle"></i>
        <%= token ? token.name : "User" %>
      </span>
    <a href="/logout" class="text-white text-decoration-none">
      <i class="bi bi-box-arrow-right"></i> Logout
    </a>
  </div>
</header>
